.header {
    background-color: #ffffff;
    padding: 1% 4% 2%;
    border-radius: 10px;
    border: 1px #d3d3d3 solid;
    border-top: 7px #734abc solid;
}

.required-input {
    color: #d10000;
    margin-top: 0.4em;
    font-size: 0.8em;
}

.mail-name,
.description,
.sw-acc,
.warning {

    font-size: 0.9rem;
}

.mail-name {
    font-weight: 600;
    color: gray;
}

.warning {
    color: red;
}

.acc {
    display: flex;
}

.sw-acc {
    padding-left: 10px;
    flex-grow: 1;
}

.icon {
    cursor: pointer;
}

.question {
    background-color: #ffffff;
    padding: 2% 4% 2%;
    border-radius: 10px;
    border: 1px #d3d3d3 solid;
    margin-top: 1%;
}

.title {
    font-size: 1.3rem;
    padding-bottom: 0.9%;
}

input,
select {
    padding: 0.7em;
    border: 1.4px #ccc solid;
    border-radius: 3px;
    width: 75%;
}

.required {
    color: red;
}

.action {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.disapled {
    background-color: #ccc !important;
}

.btn {
    padding: 1% 2.5%;
    border-radius: 4px;
    background-color: #673ab5;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
}

.reset {
    background-color: unset;
    color: #673ab5
}

.reset:hover {
    background-color: #f3f0f7;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.google-form {
    font-weight: 600;
    font-size: 1.3rem;
    color: gray;
}

.copyright {
    font-size: 0.7rem;
    color: gray;
}

.required-input-warning {
    border-color: #d10000;
}

#next,
#previous {
    padding: 1%;
    border-radius: 2px;
    border: 1.4px #ccc solid;
    border: 1.4 px #cccccc solid;
    margin-top: 0.6rem;
    background-color: white;
    color: gray;
    cursor: pointer;
    border-color: #ffffff03;
}